In [25]:
# Import necessary modules
import os
import mysql.connector as connector  # MySQL connector for database interaction
from mysql.connector import errorcode  # Import error codes for exception handling
import pandas as pd
from IPython.display import display  # For displaying DataFrame in Jupyter Notebook

# Load MySQL Credentials from Environment Variables
DB_USER = os.getenv("DB_USER")
DB_PASSWORD = os.getenv("DB_PASSWORD")
DB_NAME = os.getenv("DB_NAME")
DB_HOST = os.getenv("DB_HOST", "localhost")  # Default to localhost if not specified

# Establish MySQL Connection
try:
    connection = connector.connect(
        user=DB_USER,  
        password=DB_PASSWORD,  
        database=DB_NAME,
        host=DB_HOST
    )
    print("\nConnected to MySQL database")
except connector.Error as err:
    if err.errno == errorcode.ER_ACCESS_DENIED_ERROR:
        print("Connection failed: Incorrect username or password")
    elif err.errno == errorcode.ER_BAD_DB_ERROR:
        print("Database does not exist")
    else:
        print(f"Error: {err}")
    exit()  # Exit script if connection fails

# Create cursor
cursor = connection.cursor()

# List All Databases
try:
    cursor.execute("SHOW DATABASES")
    databases = cursor.fetchall()
    print("\nList of Databases:")
    for db in databases:
        print(f"- {db[0]}")
except connector.Error as err:
    print(f"Error retrieving databases: {err}")

# List All Tables
try:
    cursor.execute("SHOW TABLES")
    tables = cursor.fetchall()
    print("\nTables in LittleLemonDB:")
    for table in tables:
        print(f"- {table[0]}")
except connector.Error as err:
    print(f"Error retrieving tables: {err}")

# List All Stored Procedures
try:
    cursor.execute("""
        SELECT ROUTINE_NAME
        FROM INFORMATION_SCHEMA.ROUTINES
        WHERE ROUTINE_TYPE = 'PROCEDURE' AND ROUTINE_SCHEMA = %s
    """, (DB_NAME,))
    procedures = cursor.fetchall()
    
    print("\nStored Procedures in LittleLemonDB:")
    if procedures:
        for proc in procedures:
            print(f"- {proc[0]}")
    else:
        print("No stored procedures found.")
except connector.Error as err:
    print(f"Error retrieving stored procedures: {err}")

# List All Triggers
try:
    cursor.execute("""
        SELECT TRIGGER_NAME
        FROM INFORMATION_SCHEMA.TRIGGERS
        WHERE TRIGGER_SCHEMA = %s
    """, (DB_NAME,))
    triggers = cursor.fetchall()
    
    print("\nTriggers in LittleLemonDB:")
    if triggers:
        for trigger in triggers:
            print(f"- {trigger[0]}")
    else:
        print("No triggers found in LittleLemonDB.")
except connector.Error as err:
    print(f"Error retrieving triggers: {err}")

# Query to Retrieve Customer Details for Orders Over $40
try:
    query = """
        SELECT 
            cd.FirstName, 
            cd.LastName, 
            CONCAT(cd.PhoneNumber, ' - ', cd.Email) AS ContactDetails,
            o.TotalCost
        FROM Customer_Details AS cd
        JOIN Orders AS o ON cd.CustomerID = o.CustomerID
        WHERE o.TotalCost > 40;
    """
    cursor.execute(query)
    results = cursor.fetchall()

    print("\nCustomers Who Spent Over $40:")
    if results:
        for row in results:
            print(f"Name: {row[0]} {row[1]} | Contact: {row[2]} | Bill: ${row[3]}")
    else:
        print("No customers found who spent over $40.")
except connector.Error as err:
    print(f"Error retrieving customers: {err}")

Connected to MySQL database

List of Databases:
- information_schema
- LittleLemonDB
- mysql
- performance_schema
- sys

Tables in LittleLemonDB:
- Audit_Log
- Bookings
- Customer_Details
- Menu
- Order_Delivery_Status
- Order_Items
- Orders
- Staff_Information
- Tables

Stored Procedures in LittleLemonDB:
- AddMultipleItemsToOrder
- AddValidBooking
- CancelAllBookingsForDate
- CancelBooking
- ChangeBookingTable
- CheckBooking
- ErrorHandler
- FindAvailableTables
- GetBookingsForDate
- GetMaxQuantity
- UpdateBooking
- UpdateOrderStatus

Triggers in LittleLemonDB:
- log_delete_booking
- log_insert_booking
- log_update_booking
- log_update_order_status
- update_order_total
- log_insert_order_items
- log_update_order_items
- log_delete_order_items
- log_insert_order
- log_new_order_status
- after_order_cancelled

Customers Who Spent Over $40:
Name: Jane Doe | Contact: 555-0002 - jane.doe@example.com | Bill: $100.00
Name: Charlie Brown | Contact: 555-0005 - charlie.brown@example.com | Bill: $83.50
Name: Frank Miller | Contact: 555-0008 - frank.miller@example.com | Bill: $47.50
Name: Grace Wilson | Contact: 555-0009 - grace.wilson@example.com | Bill: $48.00
Name: Bob Smith | Contact: 555-0003 - bob.smith@example.com | Bill: $56.00
Name: Frank Miller | Contact: 555-0008 - frank.miller@example.com | Bill: $50.00
Name: Hannah Moore | Contact: 555-0010 - hannah.moore@example.com | Bill: $52.50
Name: Jane Doe | Contact: 555-0002 - jane.doe@example.com | Bill: $48.25

In [26]:
order_status_query = """
SELECT 
    o.OrderID,
    b.BookingID,
    b.CustomerID,
    CONCAT(c.FirstName, ' ', c.LastName) AS CustomerName,
    o.OrderDate,
    o.StaffID,
    CONCAT(s.FirstName, ' ', s.LastName) AS StaffMember,
    ods.Status AS OrderStatus,
    b.Status AS BookingStatus
FROM Orders o
LEFT JOIN Bookings b ON o.BookingID = b.BookingID
LEFT JOIN Customer_Details c ON b.CustomerID = c.CustomerID
LEFT JOIN Staff_Information s ON o.StaffID = s.StaffID
LEFT JOIN Order_Delivery_Status ods ON o.OrderID = ods.OrderID;
"""

# Execute query
cursor.execute(order_status_query)

# Fetch results and convert them into a DataFrame
df = pd.DataFrame(cursor.fetchall(), columns=[desc[0] for desc in cursor.description])

# Display DataFrame in Jupyter Notebook
display(df)  # Using Pandas display function

,OrderID,BookingID,CustomerID,CustomerName,OrderDate,StaffID,StaffMember,OrderStatus,BookingStatus
0,152,NaN,NaN,None,2025-03-14,7,John Doe,Cancelled,None
1,153,146.0,10.0,Jane Doe,2025-03-15,7,John Doe,Delivered,New Booking
2,154,147.0,11.0,Bob Smith,2025-03-15,7,John Doe,Delivered,New Booking
3,155,148.0,12.0,Alice Johnson,2025-03-15,7,John Doe,Delivered,New Booking
4,156,149.0,13.0,Charlie Brown,2025-03-15,7,John Doe,Delivered,New Booking
5,157,150.0,14.0,David Taylor,2025-03-15,7,John Doe,Delivered,New Booking
6,158,151.0,15.0,Emily White,2025-03-15,7,John Doe,Delivered,New Booking
7,159,152.0,16.0,Frank Miller,2025-03-15,7,John Doe,Delivered,New Booking
8,160,153.0,17.0,Grace Wilson,2025-03-15,7,John Doe,Delivered,New Booking
9,161,154.0,18.0,Hannah Moore,2025-03-15,7,John Doe,Delivered,New Booking
10,162,155.0,9.0,John Doe,2025-03-15,7,John Doe,Delivered,New Booking
11,168,157.0,11.0,Bob Smith,2025-03-16,15,Grace Wilson,Delivered,New Booking
12,169,158.0,12.0,Alice Johnson,2025-03-16,13,Emily White,Delivered,New Booking
13,170,159.0,13.0,Charlie Brown,2025-03-16,15,Grace Wilson,Delivered,New Booking
14,171,160.0,14.0,David Taylor,2025-03-16,13,Emily White,Delivered,New Booking
15,172,161.0,15.0,Emily White,2025-03-16,15,Grace Wilson,Delivered,New Booking
16,173,162.0,16.0,Frank Miller,2025-03-16,13,Emily White,Delivered,New Booking
17,174,163.0,17.0,Grace Wilson,2025-03-16,15,Grace Wilson,Delivered,New Booking
18,175,164.0,18.0,Hannah Moore,2025-03-16,13,Emily White,Delivered,New Booking
19,176,165.0,9.0,John Doe,2025-03-16,15,Grace Wilson,Delivered,New Booking
20,177,166.0,10.0,Jane Doe,2025-03-16,13,Emily White,Delivered,New Booking

In [27]:
# Define the SQL query to fetch all bookings
all_bookings_query = """
SELECT 
    BookingID, 
    CustomerID, 
    BookingDate, 
    Status 
FROM Bookings;
"""

# Execute query
cursor.execute(all_bookings_query)

# Fetch all records and convert to Pandas DataFrame
import pandas as pd
from IPython.display import display

df_bookings = pd.DataFrame(cursor.fetchall(), columns=[desc[0] for desc in cursor.description])

# Display DataFrame in Jupyter Notebook
print("\n📌 Bookings:")
display(df_bookings)

📌 Bookings:

    BookingID  CustomerID BookingDate       Status
0         146          10  2025-03-15  New Booking
1         147          11  2025-03-15  New Booking
2         148          12  2025-03-15  New Booking
3         149          13  2025-03-15  New Booking
4         150          14  2025-03-15  New Booking
5         151          15  2025-03-15  New Booking
6         152          16  2025-03-15  New Booking
7         153          17  2025-03-15  New Booking
8         154          18  2025-03-15  New Booking
9         155           9  2025-03-15  New Booking
10        157          11  2025-03-16  New Booking
11        158          12  2025-03-16  New Booking
12        159          13  2025-03-16  New Booking
13        160          14  2025-03-16  New Booking
14        161          15  2025-03-16  New Booking
15        162          16  2025-03-16  New Booking
16        163          17  2025-03-16  New Booking
17        164          18  2025-03-16  New Booking
18        165           9  2025-03-16  New Booking
19        166          10  2025-03-16  New Booking

In [28]:
# Query to retrieve staff information
staff_query = """
SELECT 
    StaffID, 
    FirstName, 
    LastName, 
    Role 
FROM Staff_Information;
"""
cursor.execute(staff_query)
df_staff = pd.DataFrame(cursor.fetchall(), columns=[desc[0] for desc in cursor.description])

# Query to retrieve customer information
customer_query = """
SELECT 
    CustomerID, 
    FirstName, 
    LastName, 
    PhoneNumber, 
    Email 
FROM Customer_Details;
"""
cursor.execute(customer_query)
df_customers = pd.DataFrame(cursor.fetchall(), columns=[desc[0] for desc in cursor.description])

# Display staff and customer details
print("\n📌 Staff Information:")
display(df_staff)

print("\n📌 Customer Information:")
display(df_customers)

📌 Staff Information:

    StaffID FirstName  LastName     Role
0         7      John       Doe   Waiter
1         8      Jane     Smith     Chef
2         9       Bob   Johnson  Manager
3        10     Alice  Williams   Waiter
4        11   Charlie     Brown     Chef
5        12     David    Taylor  Cleaner
6        13     Emily     White   Waiter
7        14     Frank    Miller  Manager
8        15     Grace    Wilson   Waiter
9        16    Hannah     Moore     Chef
10       18      Jane       Doe     Chef
11       19       Bob     Smith  Manager
12       20     Alice   Johnson   Waiter

📌 Customer Information:

   CustomerID FirstName LastName PhoneNumber                      Email
0           9      John      Doe    555-0001       john.doe@example.com
1          10      Jane      Doe    555-0002       jane.doe@example.com
2          11       Bob    Smith    555-0003      bob.smith@example.com
3          12     Alice  Johnson    555-0004  alice.johnson@example.com
4          13   Charlie    Brown    555-0005  charlie.brown@example.com
5          14     David   Taylor    555-0006   david.taylor@example.com
6          15     Emily    White    555-0007    emily.white@example.com
7          16     Frank   Miller    555-0008   frank.miller@example.com
8          17     Grace   Wilson    555-0009   grace.wilson@example.com
9          18    Hannah    Moore    555-0010   hannah.moore@example.com

In [34]:
# Query to retrieve menu items
menu_query = "SELECT * FROM Menu;"
cursor.execute(menu_query)
df_menu = pd.DataFrame(cursor.fetchall(), columns=[desc[0] for desc in cursor.description])

# Query to retrieve tables
tables_query = "SELECT * FROM Tables;"  # Adjust the table name if needed
cursor.execute(tables_query)
df_tables = pd.DataFrame(cursor.fetchall(), columns=[desc[0] for desc in cursor.description])

# Display the menu in Jupyter Notebook
print("\n📌 Menu Items:")
display(df_menu)

print("\n📌Restaurant Tables:")
display(df_tables)

📌 Menu Items:

    MenuID             ItemName  Category  Price
0       11  Spaghetti Bolognese   Courses  15.00
1       12         Caesar Salad  Starters  10.00
2       13         Cheeseburger   Courses  12.00
3       14        Fried Chicken   Courses  14.00
4       15      Margarita Pizza   Courses  12.50
5       16     Penne Arrabbiata   Courses  13.00
6       17                Steak   Courses  25.00
7       18       Grilled Salmon   Courses  22.00
8       19             Lemonade    Drinks   4.00
9       20             Iced Tea    Drinks   3.50
10      21                 Coke    Drinks   2.50
11      22                 Beer    Drinks   5.00
12      23           White Wine    Drinks   7.00
13      24             Red Wine    Drinks   7.50
14      25            Apple Pie  Desserts   5.50
15      26       Chocolate Cake  Desserts   6.00
16      27    Vanilla Ice Cream  Desserts   4.50
17      28             Tiramisu  Desserts   6.00
18      29              Pavlova  Desserts   6.50
19      30           Cappuccino    Drinks   3.00
20      31             Espresso    Drinks   2.50
21      32                Latte    Drinks   3.50
22      33        Hot Chocolate    Drinks   3.75
23      34           Fried Fish   Courses  14.50
24      35   Vegetable Stir Fry   Courses  13.50
25      36          Peking Duck   Courses  30.00
26      37              Lasagna   Courses  16.00
27      38      Beef Wellington   Courses  35.00
28      39     Chicken Parmesan   Courses  18.00
29      40       Pork Schnitzel   Courses  20.00
30      41        Chicken Tacos   Courses  12.00
31      42           Beef Tacos   Courses  13.00
32      43             Shawarma   Courses  14.00
33      44              Falafel  Starters  11.00
34      45          Greek Salad  Starters   8.00
35      46    Stuffed Mushrooms  Starters   7.00
36      47         Spring Rolls  Starters   6.50
37      48          Onion Rings  Starters   5.50
38      49         Garlic Bread  Starters   3.50
39      50    Mozzarella Sticks  Starters   6.00
40      51        Chicken Wings  Starters   8.00
41      52         Beef Sliders  Starters   9.00
42      53      Crispy Calamari  Starters  10.00
43      54         Tom Yum Soup  Starters   7.50
44      55            Miso Soup  Starters   6.00
45      56  Chicken Noodle Soup  Starters   5.50
46      57           Beef Broth  Starters   4.50
47      58       Cheese Platter  Starters  12.00
48      59    Vegetable Samosas  Starters   4.00

📌Restaurant Tables:

    TableID  TableNumber  Capacity  IsAvailable         LastUpdated
0         1            1         4            1 2025-03-12 23:27:34
1         2            2         4            1 2025-03-12 23:27:34
2         3            3         2            1 2025-03-12 23:27:34
3         4            4         2            1 2025-03-12 23:27:34
4         5            5         4            1 2025-03-12 23:27:34
5         6            6         4            1 2025-03-12 23:27:34
6         7            7         2            1 2025-03-12 23:27:34
7         8            8         2            1 2025-03-12 23:27:34
8         9            9         4            1 2025-03-12 23:27:34
9        10           10         4            1 2025-03-12 23:27:34
10       11           11         2            1 2025-03-12 23:27:34
11       12           12         2            1 2025-03-12 23:27:34
12       13           13         4            1 2025-03-12 23:27:34
13       14           14         4            1 2025-03-12 23:27:34
14       15           15         2            1 2025-03-12 23:27:34
15       16           16         2            1 2025-03-12 23:27:34
16       17           17         4            1 2025-03-12 23:27:34
17       18           18         4            1 2025-03-12 23:27:34
18       19           19         2            1 2025-03-12 23:27:34
19       20           20         2            1 2025-03-12 23:27:34
20       21           21         4            1 2025-03-12 23:27:34
21       22           22         4            1 2025-03-12 23:27:34
22       23           23         2            1 2025-03-12 23:27:34
23       24           24         2            1 2025-03-12 23:27:34
24       25           25         4            1 2025-03-12 23:27:34
25       26           26         4            1 2025-03-12 23:27:34
26       27           27         2            1 2025-03-12 23:27:34
27       28           28         2            1 2025-03-12 23:27:34
28       29           29         4            1 2025-03-12 23:27:34
29       30           30         4            1 2025-03-12 23:27:34
30       31           31         2            1 2025-03-12 23:27:34
31       32           32         2            1 2025-03-12 23:27:34
32       33           33         4            1 2025-03-12 23:27:34
33       34           34         4            1 2025-03-12 23:27:34
34       35           35         2            1 2025-03-12 23:27:34
35       36           36         2            1 2025-03-12 23:27:34
36       37           37         4            1 2025-03-12 23:27:34
37       38           38         4            1 2025-03-12 23:27:34
38       39           39         2            1 2025-03-12 23:27:34
39       40           40         2            1 2025-03-12 23:27:34
40       41           41         4            1 2025-03-12 23:27:34
41       42           42         4            1 2025-03-12 23:27:34
42       43           43         2            1 2025-03-12 23:27:34
43       44           44         2            1 2025-03-12 23:27:34
44       45           45         4            1 2025-03-12 23:27:34
45       46           46         4            1 2025-03-12 23:27:34
46       47           47         2            1 2025-03-12 23:27:34
47       48           48         2            1 2025-03-12 23:27:34
48       49           49         4            1 2025-03-12 23:27:34
49       50           50         4            1 2025-03-12 23:27:34

Your project will be evaluated according to the following grading criteria:

- Was the GetMaxQuantity() procedure properly implemented?
- Was the ManageBooking() procedure properly implemented?
- Was the UpdateBooking() procedure properly implemented?
- Was the AddBooking() procedure properly implemented?
- Was the CancelBooking() procedure properly implemented?

In [39]:
# GetMaxQuantity - This procedure gets the maximum quantity ordered from the Order_Items table
# Call the stored procedure GetMaxQuantity
try:
    cursor.callproc('GetMaxQuantity')

    # Fetch results
    for result in cursor.stored_results():
        max_quantity = result.fetchone()[0]  # Fetch first row & column
        print(f"\nMaximum Quantity Ordered in Order_Items Table: {max_quantity}")

except connector.Error as err:
    print(f"Error executing GetMaxQuantity(): {err}")

Maximum Quantity Ordered in Order_Items Table: The maximum quantity ordered is: 3

The following code covers several procedures that fall within the remit of ManageBooking()

In [40]:
# full process of making a booking, creating an order, adding menu items to the order and then updating status of order to delivered.
# we will also cover some booking cancellations

# Test Data for 5 Bookings with today's date (2025-03-20)
bookings = [
    ("2025-03-20", 2, 10, "Admin"), #BookingDate, TableID, CustomerID, PerformedBy
    ("2025-03-20", 4, 11, "Admin"),
    ("2025-03-20", 6, 12, "Admin"),
    ("2025-03-20", 8, 13, "Admin"),
    ("2025-03-20", 10, 14, "Admin")
]

# Execute AddValidBooking() for each booking
try:
    for booking in bookings:
        cursor.callproc('AddValidBooking', booking)
    
    connection.commit()  # Commit transaction after all insertions
    print("\n5 new bookings successfully added for 2025-03-20.")

except connector.Error as err:
    print(f"Error executing AddValidBooking(): {err}")

5 new bookings successfully added for 2025-03-20.

In [45]:
# Retrieve the newly added bookings for 2025-03-20
bookings_query = """
SELECT * 
FROM Bookings 
WHERE BookingDate = "2025-03-20";
"""

cursor.execute(bookings_query)
df_bookings = pd.DataFrame(cursor.fetchall(), columns=[desc[0] for desc in cursor.description])

# Display the bookings for 2025-03-20
print("\n📌 Bookings for 2025-03-20:")
display(df_bookings)

📌 Bookings for 2025-03-20:

   BookingID  CustomerID BookingDate  TableID       Status
0        195          10  2025-03-20        2  New Booking
1        196          11  2025-03-20        4  New Booking
2        197          12  2025-03-20        6  New Booking
3        198          13  2025-03-20        8  New Booking
4        199          14  2025-03-20       10  New Booking

In [47]:
#Close cursor and connection
cursor.close()
connection.close()
print("\n✅ Connection closed.")

✅ Connection closed.